parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    paths:
        - %currentWorkingDirectory%

    excludes_analyse:
         - %currentWorkingDirectory%/vendor
         - %currentWorkingDirectory%/Tests

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'
        - '#_current_file#'
        - '#Constant [a-zA-Z0-9\\_]+ not found.#'

        # Ignore safety casts
        - "#Casting to [a-zA-Z<>]+ something that's already [a-zA-Z<>]+#"
        # Ignore direct view assigns
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Method Symfony\\Component\\DependencyInjection\\LazyProxy\\PhpDumper\\DumperInterface\:\:getProxyFactoryCode\(\)#'
        - '#Shopware_Components_Snippet_Manager::__construct\(\) does not call parent constructor from Enlight_Components_Snippet_Manager#'
        - '#does not call parent constructor from Enlight_Class#'
        - '#Binary operation "|=" between string and string results in an error.#'
        - '#does not call parent constructor from Elasticsearch#'
        - '#does not call parent constructor from Enlight_Controller_Action#'
        - '#does not accept Doctrine\\Common\\Persistence\\ObjectRepository#'
        - '#does not call parent constructor from Enlight_Controller_Action#'
        # "getRepository"-Methods
        - '#should return [a-zA-Z\\_]+Repository but returns Doctrine\\ORM\\EntityRepository#'
        - '#should return [a-zA-Z\\_]+Repository but returns Doctrine\\Common\\Persistence\\ObjectRepository#'
        - '#Static property [a-zA-Z\\_\$\:]+ \(Shopware\\Models\\[a-zA-Z]+\\Repository\|null\) does not accept Doctrine\\ORM\\EntityRepository#'
        - '#\([a-zA-Z\\_]+Repository\) does not accept Doctrine\\ORM\\EntityRepository#'
        - '#\([a-zA-Z\\_]+Repository\) does not accept Doctrine\\Common\\Persistence\\ObjectRepository#'
        - '#Array \(array<string, Shopware\\Components\\Model\\ModelRepository>\) does not accept Doctrine\\ORM\\EntityRepository#'
        - '# should return Doctrine\\ORM\\EntityRepository\|null but returns Doctrine\\Common\\Persistence\\ObjectRepository#'
        # Return values in Models
        - '# but returns Doctrine\\ORM\\QueryBuilder#'
        # Model properties with wrong default values
        - '#\([a-z]+\) does not accept default value of type [a-z]+\.#'
        # Models that are detached by cloning and nulling the id
        - '#\([a-z]+\) does not accept null\.#'
        - '#supplied for foreach, only iterables are supported#'
        # Core
        - '#Strict comparison using === between null and [a-zA-Z\\_]+ will always evaluate to false#'
        - '#Instantiated class Shopware\TrustedShopsLegalWizard\Components\Library not found#'
        - '#Cannot call method [a-zA-Z()]+ on resource#'
        - '#Ramsey\\Uuid\\UuidInterface#'
        - '#isset\(\) always exists and is not nullable#'
        - '#PHPUnit\\Framework\\TestCase#'
        - '#Offset .additional. does not exist on array\(.countryList. =\> array#'
        - '#Offset .id. does not exist on array\(.downloaded. =\> bool#'

